*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Helvetica", serif;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
  transition: background-color .8s ease-out; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; }

.l-busca {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4rem;
  height: 65vh; }
  @media only screen and (min-width: 50em) {
    .l-busca {
      background-color: #fdfdfd;
      box-shadow: 0.1rem 1rem 1rem 0.3rem rgba(0, 0, 0, 0.2);
      border-radius: 1%;
      height: 70vh;
      width: 40vw;
      align-items: center;
      margin: auto;
      padding: 3rem; } }

.l-app {
  width: 100vw;
  height: 100vh; }

.l-entrega {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4rem;
  height: 65vh; }
  @media only screen and (min-width: 50em) {
    .l-entrega {
      background-color: #fdfdfd;
      box-shadow: 0.1rem 1rem 1rem 0.3rem rgba(0, 0, 0, 0.2);
      border-radius: 1%;
      height: 70vh;
      width: 40vw;
      align-items: center;
      margin: auto;
      padding: 3rem; } }

.l-resumen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 4rem;
  height: 72vh; }
  @media only screen and (min-width: 50em) {
    .l-resumen {
      background-color: #fdfdfd;
      box-shadow: 0.1rem 1rem 1rem 0.3rem rgba(0, 0, 0, 0.2);
      border-radius: 1%;
      width: 40vw;
      height: 110vh;
      align-items: center;
      margin: auto;
      padding: 3rem; } }

.c-button {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: auto;
  width: 100%; }
  .c-button--1 {
    color: #f98948;
    padding: 1.5rem 4rem;
    border: 1px solid #f98948;
    border-radius: 1rem;
    background-color: transparent;
    font-size: 1.8rem;
    font-family: "Helvetica", serif;
    cursor: pointer; }
    .c-button--1:hover {
      transform: translateY(0) scale(1.05);
      box-shadow: 0.1rem 0.3rem 1rem 0.3rem rgba(0, 0, 0, 0.3);
      transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1); }
  .c-button--2 {
    color: white;
    padding: 1.5rem 4rem;
    border-radius: 1rem;
    font-family: "Helvetica", serif;
    font-size: 1.8rem;
    background-color: #f98948;
    border: 1px solid #f98948;
    cursor: pointer; }
    .c-button--2:hover {
      transform: translateY(0) scale(1.05);
      box-shadow: 0.1rem 0.3rem 1rem 0.3rem rgba(0, 0, 0, 0.3);
      transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1); }

.c-checkout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  animation: on--checkout--1 cubic-bezier(0.82, 0, 0.31, 0.99) 1000ms;
  animation-fill-mode: forwards; }
  .c-checkout__titulo {
    color: #f9ea9a;
    align-self: center;
    padding-top: 5rem; }
  .c-checkout__svg {
    enable-background: new 0 0 37 37;
    animation: tick--animate--1 cubic-bezier(0.82, 0, 0.31, 0.99) 2000ms;
    height: 30rem;
    align-self: center;
    margin-top: 20rem; }
  .c-checkout__path {
    fill: none;
    stroke: #f9ea9a;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
    .c-checkout__path--circ {
      opacity: 0;
      stroke-dasharray: 130;
      stroke-dashoffset: 130;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      animation: tick--animate--1 cubic-bezier(0.82, 0, 0.31, 0.99) 2000ms;
      animation-fill-mode: forwards; }
  .c-checkout__polyline {
    fill: none;
    stroke: #f9ea9a;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
    .c-checkout__polyline--tick {
      stroke-dasharray: 50;
      stroke-dashoffset: 50;
      -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
      -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
      -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
      -o-transition: stroke-dashoffset 1s 0.5s ease-out;
      transition: stroke-dashoffset 1s 0.5s ease-out;
      animation: tick--animate--1 cubic-bezier(0.82, 0, 0.31, 0.99) 2000ms;
      animation-fill-mode: forwards; }

@keyframes on--checkout--1 {
  0% {
    background-color: transparent; }
  100% {
    background-color: #f98948; } }

@keyframes tick--animate--1 {
  100% {
    opacity: 1;
    stroke-dashoffset: 0; } }

.c-form-direccion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, min-content);
  grid-row-gap: 0rem;
  grid-column-gap: 1rem;
  height: 40vh; }
  .c-form-direccion__label {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    font-size: 3rem;
    font-family: "Helvetica", serif;
    font-weight: 400;
    padding-bottom: 1rem; }
  .c-form-direccion__calle {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    border: 1px solid black;
    border-radius: 1.4rem;
    padding: 1rem;
    height: 5rem;
    background-color: transparent; }
    .c-form-direccion__calle:focus {
      outline: none;
      border: 1px solid #f98948; }
  .c-form-direccion__error {
    margin-left: .3rem;
    font-family: "Helvetica", serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: .5rem;
    color: red; }
    .c-form-direccion__error--calle {
      grid-column: 1 / 4;
      grid-row: 3 / 4; }
    .c-form-direccion__error--nro {
      grid-column: 4 / 5;
      grid-row: 3 / 4; }
    .c-form-direccion__error--transparent {
      color: transparent; }
  .c-form-direccion__nro {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 1.4rem;
    padding: 1rem;
    height: 5rem;
    width: 13rem; }
    .c-form-direccion__nro:focus {
      outline: none;
      border: 1px solid #f98948; }
  .c-form-direccion__dropdown {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    color: #313131;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 1.4rem;
    padding: 1rem;
    height: 6rem;
    padding-bottom: .5rem; }
    .c-form-direccion__dropdown--disabled {
      background-color: #fdfdfd; }
    .c-form-direccion__dropdown:focus {
      outline: none;
      border: 1px solid #f98948; }
  .c-form-direccion__observaciones {
    font-size: 1.5rem;
    font-family: "Helvetica", serif;
    font-weight: 400;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    height: 15rem;
    border: 1px solid #313131;
    border-radius: 1.4rem;
    resize: none;
    grid-column: 1 / 5;
    grid-row: 5 / 6; }
    .c-form-direccion__observaciones::placeholder {
      color: #313131; }
    .c-form-direccion__observaciones:focus {
      outline: none;
      border: 1px solid #f98948; }

.c-total {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  height: 20rem;
  font-size: 2rem;
  font-family: "Helvetica", serif;
  font-weight: 500;
  margin-bottom: 5rem; }
  .c-total__titulo {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    justify-self: center;
    font-weight: 500;
    font-size: 3.5rem;
    padding-bottom: 1rem; }
  .c-total__envio {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between; }
  .c-total__span {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    height: 1px;
    margin-top: 1rem;
    background-color: #bbbbbb; }
  .c-total__pagar {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem; }
  .c-total__precio--total {
    color: #f98948; }

.c-forma-pago {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 37.5em) {
    .c-forma-pago {
      flex-direction: column; } }
  .c-forma-pago__titulo {
    font-size: 2.2rem;
    font-weight: 600; }
  .c-forma-pago__button {
    align-self: flex-start;
    background-color: transparent;
    margin-top: 1rem;
    height: 5rem;
    width: 38rem;
    border: 1px solid #dfdbd9;
    border-radius: 1rem;
    text-align: left;
    color: black;
    padding-left: 2rem;
    font-size: 1.4rem;
    font-family: "Helvetica", serif;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }
    .c-forma-pago__button:active {
      border: 1px solid #f98948;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
      transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1); }
    .c-forma-pago__button:hover {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
      transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1); }
    .c-forma-pago__button--2 {
      margin-bottom: 3rem; }

.c-efectivo__titulo {
  padding-bottom: .2rem; }

.c-efectivo__monto {
  background-color: transparent;
  margin-top: 1rem;
  height: 5rem;
  width: 38rem;
  border: 1px solid rgba(49, 49, 49, 0.5);
  border-radius: 1rem;
  text-align: left;
  padding-left: 2rem;
  font-size: 1.4rem;
  font-family: "Helvetica", serif;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05); }
  .c-efectivo__monto:focus {
    border: 1px solid #f98948;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none; }

.c-efectivo__error {
  color: red;
  font-family: "Helvetica", serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: .3rem; }
  .c-efectivo__error--transparent {
    color: transparent; }

.c-tarjeta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-column-gap: 2rem; }
  .c-tarjeta__titulo {
    padding-bottom: 1rem;
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
  .c-tarjeta__numero {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    align-self: start;
    outline: none;
    border: 1px solid rgba(49, 49, 49, 0.5);
    height: 4rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    font-family: "Helvetica", serif;
    border-radius: 1rem; }
    .c-tarjeta__numero:focus {
      border: 1px solid #f98948;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
      transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
      outline: none; }
  .c-tarjeta__nombre {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    outline: none;
    border: 1px solid rgba(49, 49, 49, 0.5);
    height: 4rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    font-family: "Helvetica", serif;
    border-radius: 1rem; }
    .c-tarjeta__nombre:focus {
      border: 1px solid #f98948;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
      transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
      outline: none; }
  .c-tarjeta__fecha {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    outline: none;
    border: 1px solid rgba(49, 49, 49, 0.5);
    height: 4rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    font-family: "Helvetica", serif;
    border-radius: 1rem; }
    .c-tarjeta__fecha:focus {
      border: 1px solid #f98948;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
      transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1); }
  .c-tarjeta__codigo {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    outline: none;
    border: 1px solid rgba(49, 49, 49, 0.5);
    height: 4rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    font-family: "Helvetica", serif;
    border-radius: 1rem; }
    .c-tarjeta__codigo:focus {
      border: 1px solid #f98948;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
      transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
      outline: none; }
  .c-tarjeta__error {
    color: red;
    font-family: "Helvetica", serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: .3rem; }
    .c-tarjeta__error--nro {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
      align-self: end; }
    .c-tarjeta__error--nombre {
      grid-column: 1 / -1;
      grid-row: 5 / 6;
      align-self: end; }
    .c-tarjeta__error--fecha {
      grid-column: 1 / 2;
      grid-row: 7 / 8;
      align-self: start; }
    .c-tarjeta__error--cvv {
      grid-column: 2 / 3;
      grid-row: 7 / 8;
      align-self: end; }
    .c-tarjeta__error--transparent {
      color: transparent; }

.c-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  overflow: hidden;
  padding: 2rem 1rem;
  z-index: 7; }
  .c-nav__flecha {
    height: 5rem;
    width: 5rem;
    filter: invert(56%) sepia(98%) saturate(470%) hue-rotate(329deg) brightness(102%) contrast(95%); }
  .c-nav__bars {
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
    filter: invert(56%) sepia(98%) saturate(470%) hue-rotate(329deg) brightness(102%) contrast(95%); }
  .c-nav__logo {
    width: 17rem;
    height: 17rem;
    filter: brightness(0) saturate(100%) invert(56%) sepia(98%) saturate(470%) hue-rotate(329deg) brightness(102%) contrast(95%); }

.c-recibida {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  height: 65vh; }
  @media only screen and (min-width: 37.5em) {
    .c-recibida {
      background-color: #fdfdfd;
      box-shadow: 0.1rem 1rem 1rem 0.3rem rgba(0, 0, 0, 0.2);
      border-radius: 1%;
      width: 40vw;
      height: 75vh;
      align-items: center;
      margin: auto;
      padding: 3rem; } }
  .c-recibida__titulo {
    font-size: 2.2rem;
    font-weight: 600; }
  .c-recibida__seleccion {
    align-self: flex-start;
    background-color: transparent;
    margin-top: 1rem;
    height: 5rem;
    width: 38rem;
    border: 1px solid #dfdbd9;
    border-radius: 1rem;
    text-align: left;
    padding-left: 2rem;
    font-size: 1.4rem;
    font-family: "Helvetica", serif;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: black; }
    .c-recibida__seleccion:focus {
      border: 1px solid #f98948;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
      transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1); }
    .c-recibida__seleccion:hover {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14);
      transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1); }
    .c-recibida__seleccion--2 {
      margin-bottom: 3rem; }

.c-descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4rem;
  height: 65vh; }
  @media only screen and (min-width: 50em) {
    .c-descripcion {
      background-color: #fdfdfd;
      box-shadow: 0.1rem 1rem 1rem 0.3rem rgba(0, 0, 0, 0.2);
      border-radius: 1%;
      width: 40vw;
      height: 70vh;
      align-items: center;
      margin: auto;
      padding: 3rem; } }
  .c-descripcion__label {
    font-size: 3rem;
    font-family: "Helvetica", serif;
    font-weight: 400; }
  .c-descripcion__textarea {
    font-size: 1.5rem;
    font-family: "Helvetica", serif;
    font-weight: 400;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 1.4rem;
    resize: none; }
    .c-descripcion__textarea::placeholder {
      color: #313131; }
    .c-descripcion__textarea:focus {
      outline: none;
      border: 1px solid #f98948; }
  .c-descripcion__button {
    display: flex;
    margin-top: 2rem;
    background-color: #ffffff;
    border: 1px dashed black;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    font-size: 1.9rem;
    padding: 1rem;
    border-radius: 1.4rem;
    align-items: center;
    justify-content: space-between; }
    .c-descripcion__button-is-active {
      background-color: #fdfdfd;
      border: 1px solid black; }
  .c-descripcion__p {
    color: #313131; }
  .c-descripcion__camera {
    align-self: flex-end;
    height: 2.7rem;
    width: 2.7rem; }
  .c-descripcion__image {
    font-size: 1.5rem;
    font-family: "Helvetica", serif;
    font-weight: 400;
    display: none;
    margin-top: 2rem; }
  .c-descripcion__error {
    color: red;
    font-family: "Helvetica", serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: .3rem; }
    @media only screen and (min-width: 37.5em) {
      .c-descripcion__error {
        align-self: flex-start;
        font-size: 1.5rem; } }
  .c-descripcion__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 50vh; }

.c-fecha-hora {
  width: 38rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-column-gap: 2rem; }
  .c-fecha-hora__titulo {
    padding-bottom: .2rem;
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
  .c-fecha-hora__label {
    font-size: 1.4rem;
    font-weight: 500;
    font: "Helvetica", serif;
    margin-left: .4rem;
    padding-bottom: .2rem; }
    .c-fecha-hora__label--fecha {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
    .c-fecha-hora__label--hora {
      grid-row: 2 / 3;
      grid-column: 2 / 3; }
  .c-fecha-hora__fecha {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: start;
    width: 15rem;
    color: black;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(49, 49, 49, 0.5);
    height: 4rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    font-family: "Helvetica", serif;
    border-radius: 1rem; }
    .c-fecha-hora__fecha:focus {
      border: 1px solid #f98948;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
      transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
      outline: none; }
  .c-fecha-hora__error--transparent {
    color: transparent; }
  .c-fecha-hora__error--fecha {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    align-self: end;
    color: red;
    font-family: "Helvetica", serif;
    font-size: 1rem;
    font-weight: 500;
    margin-left: .3rem; }
  .c-fecha-hora__error--hora {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    align-self: end;
    color: red;
    font-family: "Helvetica", serif;
    font-size: 1rem;
    font-weight: 500;
    margin-left: .3rem; }
  .c-fecha-hora__hora {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    outline: none;
    border: 1px solid rgba(49, 49, 49, 0.5);
    height: 4rem;
    width: 15rem;
    color: black;
    background-color: transparent;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Helvetica", serif;
    border-radius: 1rem; }
    .c-fecha-hora__hora:focus {
      border: 1px solid #f98948;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
      transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
      outline: none; }
