.l-resumen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  margin: 0 4rem;
  height: 72vh;

  @media only screen and (min-width: $bp-medium){
    background-color: $color-grey-light-3;
    box-shadow: .1rem 1rem 1rem .3rem rgba(black, 0.2);
    border-radius: 1%;
    width: 40vw;
    height: 110vh;
    align-items: center;
    margin: auto;
    padding: 3rem;
   
  }


}